<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Ziyi Wu | Blog</title>
  <link rel="icon" href="../static/images/favicon.ico" type="image"/>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/cea6490e6a.js" crossorigin="anonymous"></script>
</head>
<body class="black">
<!-- Navbar -->
  <ul id="nav-mobile" class="sidenav transparent ">
      <li><a id="logo-container" href="/" class="brand-logo white-text"><h5>Ziyi Wu</h5></a></li>
      <li><a class="grey-text" href="/">Home</a></li>

  </ul>
  <a href="#" data-target="nav-mobile" class="sidenav-trigger fixed hide-on-med-and-up" style="z-index: 3"><i class="material-icons">menu</i></a>

        <nav class="transparent white-text hide-on-med-and-down" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="/" class="brand-logo white-text">Ziyi Wu</a>
              <ul class="right">
                  <li><a class="grey-text" href="/">Home</a></li>
              </ul>
            </div>
        </nav>
<!-- End of Navbar -->

<!-- Start of Blog Container -->
      <div id = "blog" class="container section">
        <div class="offset hide-on-med-and-down">
        </div>
        <div class="row">
          <h3 class="grey-text text-lighten-4">Blog</h3>
        </div>
      </div>

<!--Beginning of Footer-->
  <footer class="black page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contact Me</h5>
            <p class="grey-text text-darken-1">
                Email: <a href="mailto:ziyiwu@usc.edu">ziyiwu@usc.edu</a><br>
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul class="list-inline" style="font-size: 20px">
              <li><a class="grey-text text-darken-2" href="https://github.com/ziyiwu9494"><i class="fa fa-github" aria-hidden="true"></i> </a></li>
              <li><a class="grey-text text-darken-2" href="https://www.linkedin.com/in/ziyiwuxyz/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <!--<li><a class="grey-text text-darken-2" href="blog/blog">Blog</a></li>-->
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Ziyi Wu
        <a class="grey-text text-darken-2 right" href="/static/files/SoftwareDevResume_ZiyiWu.pdf">Resume</a>
        </div>
      </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/libs/materialize/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
