<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Ziyi Wu | Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- fontawesome icons -->
    <script src="https://kit.fontawesome.com/cea6490e6a.js" crossorigin="anonymous"></script>
</head>
<body class="black">
<!-- Navbar -->
  <ul id="nav-mobile" class="sidenav sidenav-fixed black">
      <li><a id="logo-container" href="#home" class="brand-logo white-text">{"name": "Ziyi Wu"}</a></li>
      <!--<li><a class="grey-text darken-2" href="blog">Blog</a></li>-->
      <li><a class="grey-text darken-2" href="#projects">Projects</a></li>
      <li><a class="grey-text darken-2" href="/static/files/SoftwareDevResume_ZiyiWu.pdf">Resume</a></li>
      <li><a class="grey-text darken-2" href="#contact">Contact</a></li>
  </ul>
  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  <!--<nav class="grey darken-4 white-text" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo grey-text darken-2">{"name": "Ziyi Wu"}</a>
      <ul class="right hide-on-med-and-down">
          <li><a class="grey-text darken-2" href="#">Home</a></li>
          <li><a class="grey-text darken-2" href="#">Blog</a></li>
          <li><a class="grey-text darken-2" href="projects">Projects</a></li>
          <li><a class="grey-text darken-2" href="#">Resume</a></li>
          <li><a class="grey-text darken-2" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>-->
<!-- End of Navbar -->
<!--Beginning of Homepage-->
    <main>
      <div id="home" class="valign-wrapper">
          <div class="container">
              <div class="caption title left">
                  <p class="flow-text grey-text darken-2">Portfolio</p>
              </div>
          </div>
      </div>
<!--Beginning of Homepage-->
<!-- Start of Projects Container -->
        <div id = "projects" class="container">
          <div class="col s1">
            <h3 class="grey-text text-lighten-4">Projects</h3>
            <div class="card horizontal small grey darken-4">
              <div class="card-image">
                <img class="portfolio-image" src="/static/images/sandpile.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title white-text">Sandpile</span>
                  <p class="grey-text darken-1">Abelian Sandpile model created using PyGame</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="fab fa-github"></i> Github</a>
                    <a href="#">Demo</a>
                </div>
              </div>
            </div>
              <div class="card horizontal small grey darken-4">
                  <div class="card-image">
                    <img class="portfolio-image" src="/static/images/sandpile.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title white-text">Sandpile</span>
                      <p class="grey-text darken-1">Abelian Sandpile model created using PyGame</p>
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fab fa-github"></i> Github</a>
                        <a href="#">Demo</a>
                    </div>
                </div>
            </div>
              <div class="card horizontal small grey darken-4">
                  <div class="card-image">
                    <img class="portfolio-image" src="/static/images/sandpile.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title white-text">Sandpile</span>
                      <p class="grey-text darken-1">Abelian Sandpile model created using PyGame</p>
                    </div>
                    <div class="card-action">
                        <a href="#"><i class="fab fa-github"></i> Github</a>
                        <a href="#">Demo</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
<!-- End of Projects Container -->
    <div style="height: 20vh">
    </div>
<!-- Beginning of Contacts Form -->
        <div id="contact" class="container">
            <h3 class="grey-text text-lighten-4">Contact</h3>
          <div class="row">
            <form class="col s12" action="mailto:ziyiwu@usc.edu" method="post" enctype="text/plain">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate grey-text">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input id="email" type="email" class="validate grey-text">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea grey-text" style="height: 30vh"></textarea>
                  <label for="textarea1" rows="5">Message</label>
                </div>
              </div>
              <button class="btn grey darken-3 waves-effect waves-light" type="submit" name="action">Send
                <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
    </main>
    <div style="height: 20vh">
    </div>
<!--Beginning of Footer-->
  <footer class="black page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Ziyi Wu</h5>
            <p class="grey-text text-darken-1">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-darken-2" href="#projects">Projects </a></li>
              <!--<li><a class="grey-text text-darken-2" href="blog/blog">Blog</a></li>-->
              <li><a class="grey-text text-darken-2" href="/static/files/SoftwareDevResume_ZiyiWu.pdf">Resume</a></li>
              <li><a class="grey-text text-darken-2" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Ziyi Wu
        <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
      </div>
    </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/libs/materialize/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
