<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Ziyi Wu| Home</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://kit.fontawesome.com/cea6490e6a.js" crossorigin="anonymous"></script>
</head>
<body class="black">
    <!-- Navbar -->
  <ul id="nav-mobile" class="sidenav sidenav-fixed black">
      <li><a id="logo-container" href="/" class="brand-logo white-text">{"name": "Ziyi Wu"}</a></li>
      <!--<li><a class="grey-text darken-2" href="blog">Blog</a></li>-->
      <li><a class="grey-text darken-2" href="projects">Projects</a></li>
      <li><a class="grey-text darken-2" href="/static/files/SoftwareDevResume_ZiyiWu.pdf">Resume</a></li>
      <li><a class="grey-text darken-2" href="contact">Contact</a></li>
  </ul>
  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
<!-- End of Navbar -->
    <main>
        <div class="container">
          <div class="col s1">
            <h3 class="grey-text text-lighten-4">Projects</h3>
            <div class="card horizontal small grey darken-4">
              <div class="card-image">
                <img class="portfolio-image" src="/static/images/sandpile.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                    <span class="card-title white-text">Sandpile</span>
                  <p class="grey-text darken-1">Abelian Sandpile model created using PyGame</p>
                </div>
                <div class="card-action">
                    <a href="#"><i class="fab fa-github"></i> Github</a>
                    <a href="#">Demo</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </main>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/libs/materialize/js/materialize.min.js"></script>
  <script src="/static/js/init.js"></script>

</body>
</html>